:root {
    --dark: #243136;
    --light: #eeeeee;
    --yellow: #f2e21b;
    --font: 'Noto Sans JP', sans-serif;
    --header-size: 6.5vh;
    --footer-size: 10vh;
    font-size: 1.5vh;
    color: var(--dark);
    font-family: var(--font);
}

body {
    background-color: var(--light);
    margin: 0;
    display: grid;
    grid-template-rows: var(--header-size) 1fr;
}

header#main-header {
    background-color: var(--dark);
    display: flex;
    align-items: center;
    height: var(--header-size);
    line-height: var(--header-size);
}

header#main-header svg#header-logo {
    height: calc(var(--header-size) - 3vh);
    margin-left: 2.4vh;
}

header#main-header svg#header-logo use {
    --header-icon-color: var(--light);
    cursor: pointer;
}

header#main-header svg#header-logo use:hover {
    --header-icon-color: var(--yellow);
}

main section#development {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - var(--header-size) - var(--footer-size));
}

main section#development h1 {
    font-size: 3vh;
}

main section#development img.main-logo {
    height: 24vh;
}

main section#development ul.social-media {
    padding: 0;
    list-style-type: none;
    display: flex;
}

main section#development ul.social-media li a {
    display: inline-block;
    text-decoration: none;
    margin: 1vh 1.5vh;
    padding: 0.7vh 2vh;
    border-radius: 5vh;
    font-weight: bolder;
    color: var(--light);
    background-color: var(--dark);
}

footer#main-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    height: var(--footer-size);
}

footer#main-footer h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5vh;
    font-weight: bold;
    color: var(--light);
}

footer#main-footer p {
    margin: 0;
    padding: 0;
    font-size: 1.4vh;
    font-weight: normal;
    color: var(--light);
}