:root {
    --dark: #243136;
    --light: #eeeeee;
    --yellow: #f2e21b;
    --dark-green: #486c7c;
    --darker-green: #334852;
    --font: 'Noto Sans JP', sans-serif;
    --header-size: 6.5vh;
    font-size: 1.5vh;
    color: var(--dark);
    font-family: var(--font);
}

body {
    background-color: var(--light);
    margin: 0;
    display: grid;
    grid-template-rows: var(--header-size) 1fr;
}

header#main-header {
    background-color: var(--dark);
    display: flex;
    align-items: center;
    height: var(--header-size);
    line-height: var(--header-size);
}

header#main-header svg#header-logo {
    height: calc(var(--header-size) - 3vh);
    margin-left: 2.4vh;
}

header#main-header svg#header-logo use {
    --header-icon-color: var(--light);
    cursor: pointer;
}

header#main-header svg#header-logo use:hover {
    --header-icon-color: var(--yellow);
}

main section#development {
    margin: 0;
    padding: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 73vh;
    text-align: center;
}

main section#development h1 {
    font-size: 2rem;
}

main section#development img.main-logo {
    height: 24vh;
}

main section#development ul.social-media {
    padding: 0;
    list-style-type: none;
    display: flex;
}

main section#development ul.social-media li a {
    display: inline-block;
    text-decoration: none;
    margin: 1vh 1.5vh;
    padding: 0.7vh 2vh;
    border-radius: 5rem;
    font-weight: bolder;
    color: var(--light);
    background-color: var(--dark);
}

footer#main-footer {
    margin: 0;
    padding: 2vh 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark);
    text-align: center;
}

footer#main-footer h1 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--light);
}

footer#main-footer p {
    margin: 0;
    padding: 0;
    font-size: 0.95rem;
    font-weight: normal;
    color: var(--light);
}

/* Mobile */

@media (max-aspect-ratio: 8/7) {
    :root {
        --header-size: 8vh;
        font-size: 1.8vh;
    }

    main section#development ul.social-media {
        padding-left: 0;
        align-items: center;
        flex-wrap: wrap;
    }

    main section#development ul.social-media li {
        flex-basis: 50%;
        text-align: center;
    }
}

/* Dark mode */

@media (prefers-color-scheme: dark) {
    :root {
        color: var(--light);
    }

    body {
        background-color: var(--darker-green);
    }

    main section#development ul.social-media li a {
        color: var(--light);
        background-color: var(--dark-green);
    }
}